In [1]:
#preliminaries
import pandas as pd
import numpy as np

%matplotlib inline
import random
import matplotlib.pyplot as plt

In [2]:
#Load data from URLs
# Import package
from urllib.request import urlretrieve

# Assign url of file: url
url1 = 'https://s3.eu-west-2.amazonaws.com/dmhr-data/practices_Dec2015.csv'

# Read file into a DataFrame and print its head
cols1 = ['period', 'practice', 'practicename', 'centrename', 'street', 'city', 'county', 'postcode']
practicedataset = pd.read_csv(url1, header=None, names=cols1, index_col=False, skiprows=1)
practicedataset.head()

,period,practice,practicename,centrename,street,city,county,postcode
0,201512,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,201512,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,201512,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,201512,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ
4,201512,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [3]:
#url2 = 'https://s3.eu-west-2.amazonaws.com/dmhr-data/prescribing_Dec2015.csv'
cols2 = ['sha', 'pct', 'practice', 'bnf_code', 'bnf_name', 'items', 'nic', 'act_cost', 'quantity', 'period']
prescribingdataset = pd.read_csv('Prescribingdata.csv', header=None, names=cols2, index_col=False, skiprows=1)
prescribingdataset.head()

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period
0,Q44,RJN,Y05218,0501013K0AAAJAJ,Co-Amoxiclav_Tab 500mg/125mg,1,3.59,3.33,21,201512
1,Q44,RJN,Y05218,0501130R0AAAAAA,Nitrofurantoin_Cap 50mg,1,14.39,13.42,28,201512
2,Q44,RTV,Y04937,0401020K0AAAHAH,Diazepam_Tab 2mg,1,0.51,0.58,14,201512
3,Q44,RTV,Y04937,0401020P0AAABAB,Lorazepam_Tab 1mg,1,2.65,2.46,28,201512
4,Q44,RTV,Y04937,0402010ABAAABAB,Quetiapine_Tab 25mg,2,2.01,2.08,84,201512

In [4]:
#Merge the two datasets
twodatasets= pd.merge(left= prescribingdataset, right= practicedataset, on='practice')
twodatasets.head()

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period_x,period_y,practicename,centrename,street,city,county,postcode
0,Q44,RJN,Y05218,0501013K0AAAJAJ,Co-Amoxiclav_Tab 500mg/125mg,1,3.59,3.33,21,201512,201512,SEXUAL HEALTH MDGH,M.D.G.H.,VICTORIA ROAD,MACCLESFIELD,CHESHIRE,SK10 3BL
1,Q44,RJN,Y05218,0501130R0AAAAAA,Nitrofurantoin_Cap 50mg,1,14.39,13.42,28,201512,201512,SEXUAL HEALTH MDGH,M.D.G.H.,VICTORIA ROAD,MACCLESFIELD,CHESHIRE,SK10 3BL
2,Q44,RTV,Y04937,0401020K0AAAHAH,Diazepam_Tab 2mg,1,0.51,0.58,14,201512,201512,WIGAN ASSESSMENT TEAM,CLAIRE HOUSE (CH1),PHOENIX WAY,WIGAN,LANCASHIRE,WN3 4NW
3,Q44,RTV,Y04937,0401020P0AAABAB,Lorazepam_Tab 1mg,1,2.65,2.46,28,201512,201512,WIGAN ASSESSMENT TEAM,CLAIRE HOUSE (CH1),PHOENIX WAY,WIGAN,LANCASHIRE,WN3 4NW
4,Q44,RTV,Y04937,0402010ABAAABAB,Quetiapine_Tab 25mg,2,2.01,2.08,84,201512,201512,WIGAN ASSESSMENT TEAM,CLAIRE HOUSE (CH1),PHOENIX WAY,WIGAN,LANCASHIRE,WN3 4NW

In [5]:
#Select only Southampton 

twodatasets_s= twodatasets[twodatasets['city'].str.contains('SOUTHAMPTON')]
twodatasets_s.head()

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period_x,period_y,practicename,centrename,street,city,county,postcode
9487420,Q69,NTP,Y04672,0212000B0AAAAAA,Atorvastatin_Tab 10mg,1,2.34,2.18,56,201512,201512,SOUTHAMPTON MINOR INJURIES UNIT,LEVEL B RSH HOSP BLD,BRINTON'S TERRACE,SOUTHAMPTON,,SO14 0YG
9487421,Q69,NTP,Y04672,0301011R0AAAPAP,Salbutamol_Inha 100mcg (200 D) CFF,2,3.00,2.80,2,201512,201512,SOUTHAMPTON MINOR INJURIES UNIT,LEVEL B RSH HOSP BLD,BRINTON'S TERRACE,SOUTHAMPTON,,SO14 0YG
9487422,Q69,NTP,Y04672,0302000C0BPAABE,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.43,1,201512,201512,SOUTHAMPTON MINOR INJURIES UNIT,LEVEL B RSH HOSP BLD,BRINTON'S TERRACE,SOUTHAMPTON,,SO14 0YG
9487423,Q69,NTP,Y04672,0406000T0AAAGAG,Prochlpzine Mal_Tab 5mg,1,1.23,1.15,28,201512,201512,SOUTHAMPTON MINOR INJURIES UNIT,LEVEL B RSH HOSP BLD,BRINTON'S TERRACE,SOUTHAMPTON,,SO14 0YG
9487424,Q69,NTP,Y04672,0407010F0AAAHAH,Co-Codamol_Tab 30mg/500mg,2,3.26,3.04,60,201512,201512,SOUTHAMPTON MINOR INJURIES UNIT,LEVEL B RSH HOSP BLD,BRINTON'S TERRACE,SOUTHAMPTON,,SO14 0YG

In [6]:
#Produce a table with the total number of prescriptions and their total actual cost (using the ACT COST column).
Total_city_act_cost = twodatasets_s['act_cost'].sum()
Total_city_quantity = twodatasets_s['quantity'].sum()

print (Total_city_act_cost,",", Total_city_quantity)

4626176.620000016 , 45588310

In [7]:
#Find the top ten most/least frequently prescribed medications across all practices (quantity column)
 
quantity_sorted= twodatasets_s.sort_values('quantity', axis=0, ascending=False, kind='quicksort', na_position='last')
quantity_top10 = quantity_sorted.head(10)
quantity_top10
print("The top ten most frequently prescribed medications are:",quantity_top10.bnf_name)
quantity_least10 = quantity_sorted.tail(10)
print("The top ten least frequently prescribed medications are:",quantity_least10.bnf_name)

The top ten most frequently prescribed medications are: 10035804    Fortisip Bottle_Liq (8 Flav)
10070421    Fortisip Bottle_Liq (8 Flav)
9970505     Aymes Complete_Liq (4 Flav)
10035811    Nutrison Pack_Energy M/Fibre
10057945    Fortisip Bottle_Liq (8 Flav)
9977047     Nutrini Peptisorb_Liq
10051139    Fortisip Bottle_Liq (8 Flav)
10051157    Fresubin Thickened Stage 2_Cust (2 Flav)
10090609    Fortisip Bottle_Liq (8 Flav)
10051142    Nutrison Pack_Energy
Name: bnf_name, dtype: object
The top ten least frequently prescribed medications are: 10083483    Rhinocort Aqua 64_Nsl P/Spy 64mcg (120D)
9980531     Clement Clarke Low Range Peak Flow Meter
9980532     Clement Clarke AirZone Stnd Range Peak F
10058532    Allpresan Diabetic Foam Crm Intensive 12
9980539     Prontosan Top Irrig 350ml Btl
10058541    Cetraben Oint 450g
10058543    Yes water-based Intimate Lubricant Vag M
10051722    Xerotin Saliva Rep P/Spy 100ml
10002148    Ingenol Mebutate_Gel 500mcg/g
10053417    Picato_Gel 500mcg/g
Name: bnf_name, dtype: object

In [8]:
#What is their total actual cost 

Total_act_cost_top10 = quantity_top10['act_cost'].sum()
Total_act_cost_least10 = quantity_least10['act_cost'].sum()
print("The total actual cost of the top 10 and least 10 prescribed medications are: ", Total_act_cost_top10, ",", Total_act_cost_least10)

The total actual cost of the top 10 and least 10 prescribed medications are:  13373.2 , 221.9

In [9]:
#How does the total actual cost compare to the overall actual costs of each practice and of the entire city?

#Total actual cost of each practice
costofeachpractice=twodatasets_s.groupby('practice')[('act_cost')].sum().reset_index()

print("The top ten and least ten prescribed medications total actual cost is: ", Total_act_cost_top10,",", Total_act_cost_least10) #total actual cost top 10 and least 10
print("The total actual cost of each practice is: ", costofeachpractice) #total actual cost of each practice
print("The total actual cost of Southampton is: ", Total_city_act_cost) #total actual cost of entire city

The top ten and least ten prescribed medications total actual cost is:  13373.2 , 221.9
The total actual cost of each practice is:     practice   act_cost
0    J82002  154999.23
1    J82008  122916.57
2    J82022  181661.31
3    J82024   33526.01
4    J82040  164079.27
5    J82056  374972.07
6    J82062  180777.66
7    J82064  172668.60
8    J82080   46312.40
9    J82081  160419.84
10   J82087  105720.99
11   J82088  131242.03
12   J82089  181886.47
13   J82092   91986.39
14   J82097  198371.79
15   J82101  191997.14
16   J82112  191618.81
17   J82115   56767.25
18   J82122  121719.17
19   J82128  116501.42
20   J82132  228344.51
21   J82156  111831.40
22   J82171  106766.02
23   J82174  150178.83
24   J82180   61366.48
25   J82183   53052.38
26   J82187  129673.04
27   J82188   49437.82
28   J82192  147796.21
29   J82203   61547.45
30   J82207   80737.74
31   J82208   60218.09
32   J82213   56275.86
33   J82217    3366.16
34   J82605   36327.53
35   J82619   68182.26
36   J82622  127562.97
37   J82663   35096.67
38   J82674     569.17
39   J82685     266.58
40   Y00094    2738.18
41   Y01765     221.40
42   Y02838   45134.73
43   Y03027     611.10
44   Y03030     814.01
45   Y03031     197.69
46   Y03608    4013.85
47   Y03609    4707.55
48   Y03610   13987.40
49   Y03619    1445.89
50   Y03629    1175.97
51   Y03824     774.26
52   Y04246      29.64
53   Y04672      48.78
54   Y05074    1534.58
The total actual cost of Southampton is:  4626176.620000016

In [10]:
#Find the top ten most expensive medications and calculate their total actual cost

cost_sorted= twodatasets_s.sort_values('act_cost', axis=0, ascending=False, kind='quicksort', na_position='last')
cost_top10 = cost_sorted.head(10)
print(cost_top10)
print("\n")
Total_cost_mostexpensive = cost_top10['act_cost'].sum()
print("The total cost of the top ten most expensive medications is: ", Total_cost_mostexpensive)

          sha  pct practice         bnf_code  \
10036363  Q70  11A   J82056  1404000H0BNAAAF
10035442  Q70  11A   J82056  0601023ABAAAAAA
9982205   Q70  10X   J82101  1404000H0BNAAAF
10034684  Q70  11A   J82056  0208020Y0AAACAC
10034763  Q70  11A   J82056  0301020Q0AAABAB
9967925   Q70  10X   J82040  0301020Q0AAABAB
10035458  Q70  11A   J82056  0601023X0AAAAAA
9980976   Q70  10X   J82101  0301020Q0AAABAB
10034802  Q70  11A   J82056  0302000K0BDABAM
9965283   Q70  10X   J82022  0301020Q0AAABAB

                                          bnf_name  items      nic  act_cost  \
10036363  Imuvac_Vac 0.5ml Pfs                       1493  9838.87   9097.50
10035442  Liraglutide_Inj 6mg/ml 3ml PF Pen            57  6513.84   6024.56
9982205   Imuvac_Vac 0.5ml Pfs                        859  5660.81   5234.26
10034684  Rivaroxaban_Tab 20mg                         66  5350.80   4948.42
10034763  Tiotropium_Pdr For Inh Cap 18mcg             93  5248.34   4854.23
9967925   Tiotropium_Pdr For Inh Cap 18mcg             96  5186.92   4797.38
10035458  Sitagliptin_Tab 100mg                        87  4623.14   4275.86
9980976   Tiotropium_Pdr For Inh Cap 18mcg            103  4589.50   4244.97
10034802  Symbicort_Turbohaler 200mcg/6mcg (120 D)     72  4408.00   4076.77
9965283   Tiotropium_Pdr For Inh Cap 18mcg            104  4288.00   3966.18

          quantity  period_x  period_y  \
10036363      1493    201512    201512
10035442       166    201512    201512
9982205        859    201512    201512
10034684      2548    201512    201512
10034763      4700    201512    201512
9967925       4645    201512    201512
10035458      3892    201512    201512
9980976       4110    201512    201512
10034802       116    201512    201512
9965283       3840    201512    201512

                                      practicename                 centrename  \
10036363  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
10035442  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
9982205   CHESSEL PRACTICE                          CHESSEL PRACTICE
10034684  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
10034763  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
9967925   WEST END ROAD SURGERY                     BITTERNE SURGERY
10035458  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
9980976   CHESSEL PRACTICE                          CHESSEL PRACTICE
10034802  RED AND GREEN PRACTICE                    WATERSIDE HEALTH CENTRE
9965283   VICTOR STREET SURGERY                     VICTOR STREET SURGERY

                             street                       city  \
10036363  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
10035442  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
9982205   SULLIVAN ROAD  SHOLING     SOUTHAMPTON
10034684  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
10034763  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
9967925   62 WEST END ROAD           BITTERNE  SOUTHAMPTON
10035458  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
9980976   SULLIVAN ROAD  SHOLING     SOUTHAMPTON
10034802  BEAULIEU ROAD  HYTHE       SOUTHAMPTON
9965283   VICTOR STREET  SHIRLEY     SOUTHAMPTON

                             county                   postcode
10036363  HAMPSHIRE                  SO45 5WX
10035442  HAMPSHIRE                  SO45 5WX
9982205   HAMPSHIRE                  SO19 0HS
10034684  HAMPSHIRE                  SO45 5WX
10034763  HAMPSHIRE                  SO45 5WX
9967925   HAMPSHIRE                  SO18 6TG
10035458  HAMPSHIRE                  SO45 5WX
9980976   HAMPSHIRE                  SO19 0HS
10034802  HAMPSHIRE                  SO45 5WX
9965283   HAMPSHIRE                  SO15 5SY


The total cost of the top ten most expensive medications is:  51520.13

In [11]:
#How does prescribing (frequency and costs) in your city compare when using prescribing data from Cambridge as a reference?
#Select only Cambridge
twodatasets_c= twodatasets[twodatasets['city'].str.contains('CAMBRIDGE')]

#Produce a table with the total number of prescriptions and their total actual cost (in Cambridge)
Total_cambridge_cost = twodatasets_c['act_cost'].sum()
Total_cambridge_quantity = twodatasets_c['quantity'].sum()
print ("Prescribing costs and frequency of prescriptions in Southampton is", Total_city_act_cost, ",", Total_city_quantity) 
print("Prescribing costs and frequency of prescriptions in Cambridge is", Total_cambridge_cost, ",", Total_cambridge_quantity)

Prescribing costs and frequency of prescriptions in Southampton is 4626176.620000016 , 45588310
Prescribing costs and frequency of prescriptions in Cambridge is 2607317.4899999904 , 26595316

In [ ]:
#Using SQL, produce a table that provides the number of GP practices per city, ordered in descending order. 
#import pandas as pd
#from pandasql import PandaSQL
#pdsql = PandaSQL()

In [12]:
# Assign url of file: url
url_3 = 'https://digital.nhs.uk/media/28273/Numbers-of-Patients-Registered-at-a-GP-Practice-Jan-2016-GP-Practice-and-quinary-age-groups/Any/gp-reg-patients-prac-quin-age'
demo = pd.read_csv(url_3)
demodataset = demo.rename(columns = {'GP_PRACTICE_CODE':'practice', 'POSTCODE':'postcode'})

demodataset

,practice,postcode,ONS_CCG_CODE,CCG_CODE,ONS_REGION_CODE,NHSE_REGION_CODE,ONS_COMM_RGN_CODE,NHSE_COMM_REGION_CODE,Total_All,Total_Male,...,Female_50-54,Female_55-59,Female_60-64,Female_65-69,Female_70-74,Female_75-79,Female_80-84,Female_85-89,Female_90-94,Female_95+
0,A81001,TS18 1HU,E38000075,00K,E39000027,Q74,E40000001,Y54,4234,2061,...,162,139,112,134,104,120,94,59,19,7
1,A81002,TS18 2AW,E38000075,00K,E39000027,Q74,E40000001,Y54,19691,9706,...,833,733,634,636,483,445,362,231,106,22
2,A81003,TS26 8DB,E38000075,00K,E39000027,Q74,E40000001,Y54,3357,1779,...,113,100,91,94,49,44,38,18,13,2
3,A81004,TS1 3BE,E38000162,00M,E39000027,Q74,E40000001,Y54,9151,4774,...,277,265,261,228,205,210,165,91,39,17
4,A81005,TS14 7DJ,E38000162,00M,E39000027,Q74,E40000001,Y54,7883,3826,...,287,280,309,368,253,183,144,102,47,20
5,A81006,TS18 2AT,E38000075,00K,E39000027,Q74,E40000001,Y54,12345,6005,...,497,463,390,409,290,238,184,97,41,16
6,A81007,TS24 7PW,E38000075,00K,E39000027,Q74,E40000001,Y54,9744,4753,...,399,332,262,256,217,209,158,99,65,16
7,A81008,TS6 6TD,E38000162,00M,E39000027,Q74,E40000001,Y54,4027,2091,...,149,126,120,111,68,64,49,31,11,3
8,A81009,TS5 6HF,E38000162,00M,E39000027,Q74,E40000001,Y54,9175,4528,...,361,317,258,235,167,142,127,63,26,12
9,A81011,TS24 7PW,E38000075,00K,E39000027,Q74,E40000001,Y54,11435,5575,...,449,397,382,369,267,223,199,110,35,7
10,A81012,TS3 6AL,E38000162,00M,E39000027,Q74,E40000001,Y54,4749,2478,...,171,151,125,86,70,76,62,34,20,4
11,A81013,TS12 2FF,E38000162,00M,E39000027,Q74,E40000001,Y54,6182,3080,...,236,185,184,199,135,108,67,34,13,8
12,A81014,TS23 2LA,E38000075,00K,E39000027,Q74,E40000001,Y54,3821,1876,...,157,163,149,144,122,120,110,62,24,6
13,A81015,TS10 1TZ,E38000162,00M,E39000027,Q74,E40000001,Y54,3060,1500,...,149,150,95,79,75,70,51,29,12,2
14,A81016,TS1 3QY,E38000162,00M,E39000027,Q74,E40000001,Y54,9630,5013,...,260,281,231,208,164,132,112,66,27,8
15,A81017,TS17 0EE,E38000075,00K,E39000027,Q74,E40000001,Y54,20746,10215,...,759,626,572,532,347,289,212,136,71,17
16,A81018,TS10 4NW,E38000162,00M,E39000027,Q74,E40000001,Y54,5473,2842,...,209,158,157,138,117,113,71,52,35,5
17,A81019,TS3 7RL,E38000162,00M,E39000027,Q74,E40000001,Y54,10381,4978,...,409,342,325,248,154,163,135,95,30,4
18,A81020,TS4 3BU,E38000162,00M,E39000027,Q74,E40000001,Y54,7907,3895,...,283,273,239,253,225,170,137,95,51,8
19,A81021,TS6 6TD,E38000162,00M,E39000027,Q74,E40000001,Y54,13189,6436,...,486,433,392,435,324,259,199,127,47,18
20,A81022,TS12 2TG,E38000162,00M,E39000027,Q74,E40000001,Y54,10743,5351,...,407,364,358,406,269,213,111,88,36,6
21,A81023,TS1 2NX,E38000162,00M,E39000027,Q74,E40000001,Y54,7674,3968,...,258,229,172,158,120,78,74,46,17,0
22,A81025,TS18 1HU,E38000075,00K,E39000027,Q74,E40000001,Y54,4162,2096,...,128,125,128,118,96,88,81,48,20,3
23,A81026,TS5 6HA,E38000162,00M,E39000027,Q74,E40000001,Y54,13758,6893,...,504,477,422,387,261,246,180,125,56,14
24,A81027,TS15 9DD,E38000075,00K,E39000027,Q74,E40000001,Y54,13255,6510,...,515,500,488,497,375,301,212,141,59,10
25,A81029,TS1 2NX,E38000162,00M,E39000027,Q74,E40000001,Y54,5799,3202,...,160,144,131,112,79,78,69,36,13,3
26,A81030,TS1 3RY,E38000162,00M,E39000027,Q74,E40000001,Y54,12119,6028,...,428,407,341,356,279,283,193,118,41,13
27,A81031,TS24 7PW,E38000075,00K,E39000027,Q74,E40000001,Y54,12729,6194,...,523,423,335,345,298,258,210,119,61,17
28,A81032,TS14 7DJ,E38000162,00M,E39000027,Q74,E40000001,Y54,10505,5127,...,432,378,332,406,306,243,182,133,59,34
29,A81033,TS3 6AL,E38000162,00M,E39000027,Q74,E40000001,Y54,3371,1878,...,120,103,95,69,49,51,32,19,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7682,Y04662,EX5 7DR,E38000129,99P,E39000036,Q80,E40000004,Y57,892,404,...,5,15,11,6,6,1,0,0,0,0
7683,Y04664,CH64 2TN,E38000196,02F,E39000026,Q75,E40000001,Y54,4301,2112,...,203,167,175,195,128,121,74,42,24,3
7684,Y04786,IG3 8YB,E38000004,07L,E39000018,Q71,E40000003,Y56,316,157,...,0,8,5,15,23,25,44,24,11,2
7685,Y04809,S63 9EH,E38000006,02P,E39000029,Q72,E40000001,Y54,2259,1062,...,79,74,53,31,28,18,12,6,4,0
7686,Y04882,CV11 4UZ,E38000195,05H,E39000033,Q77,E40000002,Y55,2764,1459,...,81,67,64,72,68,47,38,23,17,5
7687,Y04883,CV12 8AB,E38000195,05H,E39000033,Q77,E40000002,Y55,2451,1324,...,64,67,89,78,58,47,32,28,18,1
7688,Y04884,B46 1TH,E38000195,05H,E39000033,Q77,E40000002,Y55,3878,1924,...,140,119,113,148,69,71,66,55,21,13
7689,Y04887,S20 8NZ,E38000146,03N,E39000029,Q72,E40000001,Y54,1802,942,...,62,58,58,79,34,25,14,12,2,0
7690,Y04942,LN6 7GA,E38000100,04D,E39000030,Q78,E40000002,Y55,7817,3446,...,0,2,0,0,0,0,0,0,0,0
7691,Y04943,LN2 5HU,E38000100,04D,E39000030,Q78,E40000002,Y55,3161,1734,...,96,67,54,37,30,31,19,14,10,2
7692,Y04944,LN4 3DZ,E38000100,04D,E39000030,Q78,E40000002,Y55,1707,807,...,63,55,44,54,39,30,25,22,10,5
7693,Y04945,DN21 2UQ,E38000100,04D,E39000030,Q78,E40000002,Y55,3837,1880,...,114,102,90,81,53,44,45,25,15,7
7694,Y04947,CV3 1BN,E38000038,05A,E39000033,Q77,E40000002,Y55,2800,1390,...,48,38,33,36,28,34,29,21,27,13
7695,Y04949,CV21 3SU,E38000038,05A,E39000033,Q77,E40000002,Y55,5743,2890,...,230,158,107,80,66,50,34,21,16,4
7696,Y04951,CV1 4FS,E38000038,05A,E39000033,Q77,E40000002,Y55,5135,2767,...,76,59,26,16,11,9,5,6,2,1
7697,Y04952,CV5 7BB,E38000038,05A,E39000033,Q77,E40000002,Y55,4208,2085,...,127,107,87,106,89,76,46,32,29,11
7698,Y04957,PL25 3EF,E38000089,11N,E39000036,Q80,E40000004,Y57,31642,15567,...,1151,1100,999,1045,836,704,556,354,180,72
7699,Y04965,CV6 5ND,E38000038,05A,E39000033,Q77,E40000002,Y55,2859,1484,...,40,35,14,15,11,7,7,2,0,1
7700,Y04968,WR1 3BH,E38000166,05T,E39000033,Q77,E40000002,Y55,4408,2264,...,86,59,43,28,22,11,9,4,0,0
7701,Y04969,CV10 9EB,E38000195,05H,E39000033,Q77,E40000002,Y55,4259,2097,...,76,91,63,57,27,21,14,15,12,3
7702,Y04977,S80 4HA,E38000071,03Y,E39000032,Q76,E40000002,Y55,4893,2537,...,172,130,142,118,136,101,66,43,26,3
7703,Y04979,EX20 2EX,E38000129,99P,E39000036,Q80,E40000004,Y57,2104,1074,...,99,67,70,92,60,40,40,27,10,3
7704,Y04995,S40 2HP,E38000115,04J,E39000032,Q76,E40000002,Y55,22270,11231,...,810,727,617,704,536,431,301,187,124,34
7705,Y05008,LN1 3LT,E38000100,04D,E39000030,Q78,E40000002,Y55,2416,1216,...,74,56,59,51,37,18,19,14,6,2
7706,Y05021,PL10 1DE,E38000089,11N,E39000036,Q80,E40000004,Y57,2444,1185,...,94,109,93,112,88,46,39,15,6,2
7707,Y05023,CM8 3RQ,E38000106,06Q,E39000031,Q79,E40000002,Y55,3551,1750,...,133,121,125,119,67,49,44,39,23,13
7708,Y05080,HA2 9LG,E38000074,08E,E39000018,Q71,E40000003,Y56,1732,996,...,49,42,40,23,14,21,15,4,3,2
7709,Y05167,DN1 3AP,E38000044,02X,E39000029,Q72,E40000001,Y54,10249,5537,...,192,165,76,46,30,7,5,5,1,0
7710,Y05212,GL51 0LG,E38000062,11M,E39000034,Q82,E40000004,Y57,1808,893,...,38,35,33,19,16,9,12,8,2,2
7711,Y05248,S72 9HZ,E38000006,02P,E39000029,Q72,E40000001,Y54,2977,1539,...,109,89,92,74,50,32,40,20,4,0

In [13]:
#Merge the two datasets

threedatasets= pd.merge(left=twodatasets, right=demodataset, on='practice')
threedatasets.head()

MemoryError:

In [ ]:
#1.Calculate the monthly total spending for each GP-practice. 
monthlytotal = threedatasets.groupby('practice')['act_cost'].sum().reset_index()
monthlytotal.head()

In [ ]:
#2.Use the number of registered patients in each GP-practice to calculate the relative costs per patient.

totalall = demodataset.groupby('practice')['Total_All'].sum().reset_index()
totalall.head()

In [ ]:
monthlyandtotal = pd.merge(left=monthlytotal, right= totalall, on='practice')
monthlyandtotal.head()

In [ ]:
monthlyandtotal['relativecosts'] = monthlyandtotal['act_cost']/monthlyandtotal['Total_All']
monthlyandtotal['relativecosts'] #relative costs per patient

In [ ]:
monthlyandtotal.head()

In [ ]:
#Monthlyandtotal only for Southampton
a=twodatasets_s.practice.unique().tolist()
b=monthlyandtotal.practice.isin(a)
monthlyandtotal_s= monthlyandtotal[b]

In [ ]:
monthlyandtotal_s

In [ ]:
#3.Visualize the monthly total spending per registered patients for all GP-practices in a scatterplot, show a trend line, and visualize the data for your city within the national scatterplot
#Create a scatterplot
from math import floor
fig=plt.figure(figsize=(8, 6))
ax=fig.add_subplot(111)
x= monthlyandtotal['act_cost']
y = monthlyandtotal['Total_All']
x1= monthlyandtotal_s['act_cost']
y1= monthlyandtotal_s['Total_All']
ax.scatter(x, y, color='#FFBAD2')
ax.scatter(x1, y1, color='blue')
fit = np.polyfit(x, y, deg=1)
ax.plot(x, fit[0] * x + fit[1], color='red')
ax.set_title("Monthly total spending per registered patients (all GP-practices)")
ax.set_xlabel("Monthly costs",fontsize=12)
ax.set_ylabel("Registered patients",fontsize=12)
max_x = floor(monthlyandtotal.act_cost.max())
max_y = floor(monthlyandtotal.Total_All.max())
ax.set_xlim(0, max_x)
ax.set_ylim(0, max_y)
ax.legend()

In [ ]:
z= monthlyandtotal['relativecosts']
z

In [ ]:
#4.Visualize the relative costs per patient of all national GP-practices in a histogram.

cost_patient_plot = merged
cost_patient_plot['cost_per_patient'] = cost_patient_plot['total_costs_per_practice'] / cost_patient_plot['Total_All'] 

x = cost_patient_plot.cost_per_patient.values

plt.hist(x, bins=75)
plt.xlabel("Monthly prescription spending per patient")
plt.ylabel("Frequency")

min_x = floor(cost_patient_plot['cost_per_patient'].quantile(.01))
max_x = floor(cost_patient_plot['cost_per_patient'].quantile(.99))
plt.xlim(min_x, max_x) #do not show outliers
plt.title("GP practice monthly total prescription spending per registered patient")
plt.show()




z= monthlyandtotal['relativecosts']
num_bins = 5
n, bins, patches = plt.hist(z, num_bins, facecolor='blue', alpha=0.5)
plt.show()

In [ ]:
#5.Use descriptive statistics to show how your assigned city compares to the national level.
#Descriptive statistics southampton vs national